{% extends 'app/base.html' %}
{% load static %}
{% block banner_slider %}

{% endblock banner_slider %}
{% block main-content %}
<!--
 <div class="row" style="width:100%">
   {% for products in products %}
    <div class="col-lg-3">
      <img class="thumbnail" src="{{products.ImageURL}}">
      <div class="box-element product">
        <h6><strong>{{products.name}}</strong></h6>
        <hr>

        <button data-product={{product.id}} data-action ="add" class="btn btn-outline-secondary add-btn update-cart">Add to cart</button>
        <a class="btn btn-outline-success" href="{% url 'detail'%}?id={{product.id}}">Views</a>
        <h6 style="display: inline-block; float: right"><strong>${{products.price | floatformat:2}}</strong></h6>
      </div>
    </div>
   {% endfor %}
 </div>
-->
   <!-- Products Start -->
    <div class="container-fluid pt-5" >
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
        </div>
        <div class="row px-xl-5 pb-3" style="width:100%">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="thumbnail" src="{{product.ImageURL}}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{product.title}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${{product.price}}</h6><h6 class="text-muted ml-2"><del>${{product.price}}</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{% url 'detail'%}?id={{product.id}}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <a href="" data-product={{product.id}} data-action ="add" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Products End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Just Arrived</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            {% for product in products %}

            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="thumbnail" src="{{product.ImageURL}}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{product.title}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${{product.price}}</h6><h6 class="text-muted ml-2"><del>${{product.price}}</del></h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Products End -->
<br>
<br>

{% endblock main-content %}
